
@media screen and (min-width: 1000px)
{
  h1 {
    padding-left: 50px;
    font-size: 3rem;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  #menu {
		display: none; /* hide hamburger button */
	}
  
.businesses {
  display: flex;
  flex-direction: row;
}
.business-card {
  margin: auto;
}

.weather-join {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.weather-join-card {
  margin: auto;
}


}