@media screen and (min-width: 1000px)
{
  h1 {
    padding-left: 50px;
    font-size: 3rem;
  }
  nav {
    flex-direction: row;
  }
  main 
  {
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    grid-column: 1/3;
  }
}